body {
  margin: 0;
  padding: 0;
  background-color: #fff0f5;
  font-family: sans-serif;
  text-align: center;
}

#game-container {
  width: 100vw;
  height: 60vh;
  display: block;
  margin: 0 auto;
  background-color: #eee;
}
